@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: bold;
    src: local('Gotham'), url('../fonts/Gathom Narrow Black.otf') format('truetype');
    font-family: 'Gathom Bold';
    font-style: normal;
    src: local('Gathom Bold'), url('../fonts/Gotham Narrow Bold.otf') format('truetype');
}

html {
    font-family: 'Gotham', serif;
    z-index: 1;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
.button {
    font-family: 'Gathom Bold', serif;
}

body {
    font-family: 'Gotham', serif;
    background-color: #DCDDDE;
}

.container {
    width: 100%;
}

table td {
    text-transform: uppercase;
}

.site-header {
    border-bottom: 2px solid #9E9E9E;
}

.second-header nav {
    margin: 0 auto;
    width: 65%;
    min-height: 30px;
    background-color: #fff !important;
}

.second-header nav ul {
    position: relative;
    left: 40%;
    float: left;
    width: 85%;
    margin-left: 60px;
}

.second-header .navbar-on-image ul {
    left: 0 !important;
    margin-top: 5px;
}

.second-header .container-fluid {
    border-bottom: 1.5px solid #CFD8DC;
}

.second-header nav ul li a {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    color: #414042 !important;
    border-right: 1px solid #CFD8DC;
    padding-top: 5px;
    padding-bottom: 8px;
}

.second-header nav ul li:hover a:hover {
    color: #FFC20E !important;
}

.second-header .navbar-on-image ul li:hover a:hover {
    color: #fff !important;
}

.second-header nav ul li:last-child a {
    border-right: none;
}

.footer-menu {
    padding-top: 15px;
    width: 65% !important;
}
.select-fee{
    float: right;
}

.footer-tab {
    font-size: 19px !important;
    font-weight: 600
}

.body {
    width: 65% !important;
    margin: 0px auto;
    background-color: #fff;
}

.bordered {
    border-left: 1px solid #9E9E9E;
    border-right: 1px solid #9E9E9E;
    z-index: 5;
}

.top-navbar {
    background-color: #414042;
    height: 40px;
}

.top-navbar-header {
    float: right !important;
    color: #ECEFF1 !important;
}

.top-navbar-header ul {
    color: #ECEFF1 !important;
}

.top-navbar-header ul li a {
    right: 15px;
    color: #ECEFF1;
    padding: 10px 10px;
    font-size: 13px;
    font-weight: 700;
}

.top-navbar-header ul li a:hover,
.top-navbar-header ul li a:focus {
    background-color: #414042;
    color: #FFC20E;
}

.site-header {
    background-image: none;
    height: 55px;
}

.header-v4 .col-full {
    position: relative;
    height: 55px;
    padding-top: 70px;
}

.site-branding {
    top: -50px;
    left: 10%;
}

.main-navigation {
    margin-top: -73px;
    margin-left: 100px;
}

.navbar-mobil {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.navbar-mobil .container-fluid {
    position: relative;
    width: 65%;
    margin: 0 auto;
}

.button {
    font-weight: 500;
    font-size: 15px;
    border-radius: 8px;
}

.navbar-mobil .container-fluid ul {
    margin-left: 10%;
}

.main-navigation .primary-navigation ul li a {
    font-size: 19px;
    font-weight: bold;
    color: #414042;
    padding: 12px 26px;
    border-right: 1px solid #ECEFF1;
    margin: -2px;
}

.navbar-mobil .navbar-collapse ul li a {
    font-size: 13px;
    font-weight: 600;
    color: #414042;
    padding: 17px 10px;
    border-right: 1px solid #ECEFF1;
}

.main-navigation .primary-navigation ul li:last-child a,
.navbar-mobil .navbar-collapse ul li:last-child a {
    border-right: none;
}

.main-navigation .primary-navigation ul li a:hover,
.main-navigation .primary-navigation ul li a:focus,
.main-navigation .primary-navigation ul li a:active,
.navbar-mobil .navbar-collapse ul li a:hover,
.navbar-mobil .navbar-collapse ul li a:focus,
.navbar-mobil .navbar-collapse ul li a:active {
    color: #ECEFF1;
    background-color: #414042;
    border-radius: 2px;
}

.main-navigation .primary-navigation ul li:nth-child(1) a:hover img,
.main-navigation .primary-navigation ul li:nth-child(1) a:focus img,
.navbar-mobil .navbar-collapse ul li:nth-child(1) a:hover img,
.navbar-mobil .navbar-collapse ul li:nth-child(1) a:focus img {
    content: url('../image/iconlar/menüikon2.png');
}

.main-navigation .primary-navigation ul li:nth-child(2) a:hover img,
.main-navigation .primary-navigation ul li:nth-child(2) a:focus img,
.navbar-mobil .navbar-collapse ul li:nth-child(2) a:hover img,
.navbar-mobil .navbar-collapse ul li:nth-child(2) a:focus img {
    content: url('../image/iconlar/kampanyaikon2.png');
}

.main-navigation .primary-navigation ul li:nth-child(3) a:hover img,
.main-navigation .primary-navigation ul li:nth-child(3) a:focus img,
.navbar-mobil .navbar-collapse ul li:nth-child(3) a:hover img,
.navbar-mobil .navbar-collapse ul li:nth-child(3) a:focus img {
    content: url('../image/iconlar/şubeikon2.png');
}

.main-navigation .primary-navigation ul li.active a,
.navbar-mobil .navbar-collapse ul li:active a {
    color: #ECEFF1 !important;
    background-color: #414042;
    border-radius: 7px;
}

.sub-menu,
.dropdown-menu,
#menu-pages-menu-5 {
    background-color: #FFC20E !important;
}

.sub-menu ul li,
.dropdown-menu ul li {
    margin: 0 -14px;
}

.sub-menu ul li a:hover,
.dropdown-menu ul li a:hover {
    color: #ECEFF1 !important;
    background-color: #414042 !important;
}

.carousel-inner {
    border: 2px solid #FFC20E;
}

.carousel-inner .item img {
    position: relative;
    width: 100%;
}

.menu-icon {
    margin-right: 6px !important;
}

.divider {
    margin: 0 0;
    border: 2px solid #FFC20E;
}

.navbar-header a img {
    position: absolute;
    margin-top: -5px;
    width: 80px;
    height: 80px;
}

.navbar-header button {
    margin-right: 1%;
    margin-top: 7%;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: #414042;
    color: #ECEFF1;
}

.section-products-carousel-with-image img {
    position: relative;
    width: 100%;
    border: 2px solid #FFC20E;
}

.newsletter-subscription {
    background-color: #DCDDDE;
    width: 50%;
    height: 125px;
    left: 24%;
    margin-bottom: 40px;
}

.newsletter-form button {
    color: #414042;
    font-weight: bold;
    border-radius: 0 !important;
    top: 70% !important;
    right: 13% !important;
}

.newsletter-form input {
    position: relative;
}

.index-link .link-area img {
    height: 55px;
}

.brands-image {
    width: 120px;
    position: relative;
    display: inline-block;
    bottom: 40%;
    z-index: 50;
}

.big-brand-image {
    width: 165px;
    position: relative;
    display: inline-block;
    bottom: 45%;
}

.brands-image img {
    width: 100%;
}

.footer-title {
    padding-top: 0;
    letter-spacing: 2px;
    padding-left: 10px;
    color: #414042 !important;
    margin: 0 0 10px;
}

.footer-img {
    position: relative;
    display: inline-block;
    padding: 0 0 0 5px;
}

.footer-img2 {
    position: relative;
    bottom: 125px;
}

.footer-col {
    width: 65%;
    display: inline-flex;
    margin: 0 18%;
}

#menu-home-5-and-7-main-menu {
    padding-bottom: 15px;
}

.pizzaro-sorting {
    position: relative;
    width: 65%;
    left: 20%;
}

.nav-pills>li>a:hover,
.nav-pills>li>a:focus,
.nav-pills>li.active a {
    color: #FFC20E;
    background-color: transparent;
}

.column {
    margin-top: 15px;
}

.nav-pills>li>a {
    color: #ECEFF1;
    font-size: 17px;
    font-weight: 600;
}

.body .container .title-on-image {
    padding-top: 50px;
}

.body .container .title-on-image h3 {
    background-color: #FFC20E;
    padding: 1%;
    border-radius: 5px;
    text-align: center;
}

.body .container .text-on-image {
    position: absolute;
    left: 33%;
    top: 7%;
    padding: 25px;
    right: 5%;
    background: rgba(0, 0, 0, 0.04);
}

.text-on-image-franchise {
    position: absolute;
    left: 13%;
    top: 9%;
    height: 95%;
    padding: 25px;
    right: 13%;
}

.text-on-image-franchise p {
    line-height: 1.1;
    font-weight: 600;
}

.form-control {
    font-size: 12px;
}

.body .container .form-on-image-francise,
.body .container .form-on-image-ulas {
    position: absolute;
    top: 55%;
    left: 16.5%;
    padding: 25px;
}

.address h4 {
    font-size: 15px;
}

.body .container .text-on-image p {
    line-height: 1.3;
    font-size: 20px;
    color: #414042;
    font-weight: 600;
}

.body .container .form-on-image {
    position: absolute;
    top: 60%;
    left: 27%;
    padding: 25px;
    background: rgba(0, 0, 0, 0.04);
}

.footer-second {
    text-align: center;
    padding-top: 10px;
    width: 50%;
    display: inline-block;
}

.body .container .logo-on-image {
    position: absolute;
    width: 50%;
    height: auto;
    top: 10%;
    left: 42%;
}

.body .container .logos-on-image {
    position: relative;
}

.body .container .logos-on-image ul {
    list-style: none;
    position: absolute;
    width: 70%;
    background: rgba(0, 0, 0, 0.08);
}

.body .container .logos-on-image ul li {
    display: block;
    float: left;
    padding: 10px;
}

.rotated-text {
    -ms-transform: rotate(4deg);
    /* IE 9 */
    -webkit-transform: rotate(4deg);
    /* Safari 3-8 */
    transform: rotate(4deg);
}

.location {
    margin-top: -20px;
    border: 3px solid #DCDDDE;
}

.location .location-tab {
    position: relative;
    width: 92%;
    height: auto;
    margin: 35px;
    border: 1px solid #414042;
}

.location .location-text {
    padding: 10px;
}

.address-info {
    line-height: 1;
}

.location .address-info ul li span {
    display: inline-block;
    color: #000;
    font-weight: 600;
}

.location .address-info ul li .day {
    width: 70px;
}

.location .contact-map {
    margin-bottom: 10px;
    text-align: center;
}

.columns-4 {
    position: relative;
    right: 2.3%;
}

.product-content-wrapper .text-images {
    position: absolute;
    display: none;
    width: 98%;
    line-height: 1.1;
    padding: 5px;
    height: 28%;
    bottom: 60px;
    background-color: rgba(25, 25, 26, 0.5);
    color: #DCDDDE;
    font-size: 16px;
    font-weight: 600;
}

ul.products li.product:hover .text-images {
    display: block;
}

.product-content-wrapper h3 {
    margin-top: 0;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bolder !important;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #DCDDDE;
}


/* Custom Select */

.select,
.center-on-page .span {
    position: relative;
    display: block;
    width: 100%;
    height: 35px;
    line-height: 2;
    background: #DCDDDE;
    overflow: hidden;
    border-radius: .1em;
}

select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 3em;
    color: #414042;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

select::-ms-expand {
    display: none;
}


/* Arrow */

.select::after {
    content: '\25BC';
    position: absolute;
    border-left: 1px solid #BDBDBD;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 0.8em;
    background: #DCDDDE;
    pointer-events: none;
}


/* Transition */

.select:hover::after {
    color: #414042;
}

.select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

.select select option {
    color: #2d2b2d;
    font-size: 16px;
    font-weight: 600;
}
.center-on-page .span span {
    color: #2d2b2d;
    font-size: 14px;
    font-weight: 600;
}
#accordion .panel {
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 5px;
}

.panel-group {
    position: relative;
    display: block;
    margin-top: 20px;
}

#accordion .panel-heading {
    padding: 0;
    border-radius: 0;
    border: none;
}

#accordion .panel1 a {
    display: block;
    padding: 7px 10px;
    font-size: 16px;
    font-weight: 600;
    color: #FFC20E;
    background: #414042;
    transition: all 0.5s ease 0s;
    text-transform: uppercase;
}

#accordion .panel-title i {
    margin-right: 15px;
    font-size: 14px;
    font-weight: 500;
}

#accordion .panel1 a:hover {
    background: rgba(12, 1, 25, 0.8);
}

#accordion .panel-body {
    font-size: 14px;
    color: #fff;
    padding: 15px 0;
    line-height: 25px;
    border: 3px solid #DCDDDE;
    position: relative;
}

.panel-body .explanation {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 25px;
    background-color: #DCDDDE;
    margin-top: 15px;
    padding-left: 20px;
}

.panel-body .kampanya-img {
    padding: 0;
}

.panel-body .not-colored {
    background-color: #fff !important;
}

.panel-body .explanation a {
    font-weight: 800;
    text-align: center;
}

.checkbox {
    margin-top: 0;
    margin-left: -5px;
}

.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    top: 3px;
    margin-left: -21px;
    padding-left: 3px;
    padding-top: 0;
    font-size: 14px;
    color: #555555;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
}

.checkbox input[type="checkbox"]:checked+label::after {
    font-family: "FontAwesome";
    content: "\f00c";
}

.checkbox.checkbox-circle label::before {
    border-radius: 35%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-orange input[type="checkbox"]:checked+label::after {
    color: #fff;
}

.checkbox-orange input[type="checkbox"]+label::before {
    background-color: #FFC20E;
    border-color: #FFC20E;
}

input[type="checkbox"].styled:checked+label:after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

.new-columns-3 {
    padding-left: 23px !important;
    padding-right: 0 !important;
}

.explanation label,
.new-columns-3 label {
    color: #414042;
    font-weight: 700;
    letter-spacing: -1px;
}

.page-media {
    padding: 10px;
}

.page-media img {
    border: 2px solid #FFC20E;
}

.media-content {
    padding: 10px;
    margin-top: 10px;
}

.left-header {
    background-color: #DCDDDE;
    color: #000;
    margin-top: 20px;
}

.left2 {
    margin-top: -10px;
}

.left-header h3 {
    padding: 10px 0 0 0;
    font-weight: 700;
    text-transform: uppercase;
    float: right;
}

.s-image b {
    position: relative;
    bottom: 80px;
    left: 122px;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    line-height: 1;
}

.s-image span {
    position: relative;
    top: 33px;
    left: 105px;
    color: #FFC20E;
    font-weight: 700;
}

.hamur-tipi {
    top: 5px !important;
    left: 35px !important;
    color: #000 !important;
}

.hamur-tipi img {
    width: 50% !important;
}

.hamur-tipi-radio {
    position: relative;
    top: 5px;
    width: 18px;
    height: 18px;
}

.sube-sec {
    color: #000;
}

.menu-img {
    display: inline-block;
    width: 32px;
    padding-right: 5px;
    padding-bottom: 2px;
}

.carousel-indicators {
    top: 104%;
}

.carousel-indicators li {
    width: 75px;
    height: 5px;
    background-color: #78909C;
}

.carousel-indicators .active {
    width: 75px;
    height: 5px;
    background-color: #FFC20E;
}

.home-images {
    margin: 0 auto;
}

.body .container .navbar-on-image {
    background-color: transparent !important;
    left: 18%;
}

.body .container .navbar-on-image .container-fluid {
    border-bottom: 1px solid #000;
}

.body .container .navbar-on-image .container-fluid ul li a {
    border-right: 1px solid #000;
}

.body .container .navbar-on-image .container-fluid ul li:last-child a {
    border-right: none;
}

.location-image {
    padding: 0 20px;
}

.business-hours .title {
    font-size: 18px;
    text-align: center;
}

.business-hours li {
    color: #000;
    font-weight: bold;
    line-height: 1.2;
}

.dashed {
    padding: 0 20px;
}

.fee-area {
    margin-top: 10px;
    padding: 5px;
    border: 2px dashed #9E9E9E;
}

.fee-area .old-fee {
    color: #757575;
    text-decoration: line-through;
    font-weight: 800;
    padding: 0 20px;
}

.fee-area .saving-fee {
    color: #FF5722;
    font-weight: 700;
}

.fee-area .sale-fee {
    color: #000;
    text-transform: uppercase;
    font-weight: 800;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    padding-right: 0;
    padding-left: 0;
    margin: 0 20px;
}

.col-xs-15 {
    width: 16%;
    float: left;
}

.pizza-name {
    color: #000;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    padding: 6px;
    background-color: #FFC20E;
}
ul.products{
    margin-top: 5px !important;
}
ul.pizzas {
    position: relative;
    margin-bottom: 0 !important;
    right: 2%;
}

ul.products li.pizza {
    padding: 0 !important;
}

ul.products li.pizza img {
    margin: 0 auto 0 !important;
}

ul.products li.pizza .product-image-wrapper,
ul.products li.pizza .product-content-wrapper {
    padding-left: 0 !important;
}

ul.products li.pizza .product-content-wrapper {
    width: 75%;
    margin: 0 auto;
}

ul.products li.pizza .product-content-wrapper h3 {
    margin-bottom: 0 !important;
    text-transform: none;
    font-size: 12px;
}

.site-main {
    margin-bottom: 5px;
}

.standart-checkbox {
    display: none;
}


/* to hide the checkbox itself */

.standart-checkbox+label:before {
    font-family: FontAwesome;
    display: inline-block;
}

.standart-checkbox+label:before {
    content: "\f096";
}


/* unchecked icon */

.standart-checkbox+label:before {
    letter-spacing: 10px;
}


/* space between checkbox and label */

.standart-checkbox:checked+label:before {
    content: "\f046";
}


/* checked icon */

.standart-checkbox:checked+label:before {
    letter-spacing: 5px;
}


/* allow space for check mark */

.standart-label {
    color: #000;
}

.standart-label .extra-fee {
    color: #BF360C;
}

.extras {
    margin: 5px;
}

.hero {
    position: relative;
    background-color: #414042;
    height: 45px !important;
    width: 100% !important;
}

.hero:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 30%;
    width: 0;
    height: 0;
    border-bottom: solid 50px #fff;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}

.hero h4 {
    padding: 10px 0 0 25px;
    color: #fff;
    text-transform: uppercase;
}

.coming-soon {
    position: relative;
    display: block;
    height: 50px;
    background-color: #414042;
    padding: 10px 0 2px 0;
    margin: 10px 0 35px 0;
}

.coming-soon h4 {
    color: #fff;
    text-transform: uppercase;
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
    /* Adjusts for spacing */
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-content {
    border: 2px solid #FFC20E;
    border-radius: 15px;
}

.space-square {
    border: 1px solid #000;
    min-height: 250px;
}
