@media only screen and (max-width: 420px) {
    .body {
        width: 100% !important;
    }
    .section-products-carousel-with-image {
        width: 100%;
      }
    .home-images{
        margin-right: -14px !important;
        margin-left: -15px !important;
    }
    .index-link ul li a {
        padding: 5px 0;
    }
    .colmd2{
        width: 20%;
    }
    .container {
        width: 400px;
    }
    .fee-area .old-fee {
        font-size: 6px;
    }
    .fee-area .saving-fee {
        font-size: 4PX;
    }
    .fee-area .sale-fee {
        font-size: 6px;
    }
    .fee-area .sale-fee span {
        font-size: 9px;
    }
    ul.pizzas {
        right: 10%;
    }
    #accordion .panel1 a {
        font-size: 12px;
    }
    .columns-4 ul.products>li,
    ul.products>li {
        min-height: 265px;
    }
    h4,
    .delta {
        font-size: 14px;
    }
    ul.products li.product,
    .products .owl-item>.product {
        margin-bottom: 0;
        width: 50%;
    }
    .image-list2 {
        width: 48%;
        display: inline-block;
    }
    .navbar-mobil .navbar-collapse ul li a {
        border-right: none !important;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #FFC20E !important;
    }
    .panel-body .explanation .select3,
    .panel-body .explanation .select2 {
        height: 20px !important;
    }
    .image-list1 {
        margin-left: 40px;
        height: 60px !important;
    }

    .image-list1 img{
        margin-left: 15px !important;
    }
    table td,
    table th {
        font-size: 6px !important;
    }
    .clear-food-type-filter img {
        width: 100%;
    }
    .new-columns-3 {
        width: 50% !important;
        line-height: 1;
    }
    .explanation label,
    .new-columns-3 label {
        font-size: 6px;
    }
    .carousel-indicators li {
        width: 30px !important;
    }
    .newsletter-form input {
        font-size: 5px;
        right: 3%;
    }
    button {
        padding: 0.3em 1.2em !important;
    }
    .newsletter-form button {
        padding: 0 5px !important;
        font-size: 8px;
    }
    .newsletter-subscription .caption .title {
        font-size: 7px;
    }
    .newsletter-subscription {
        background-color: #CFD8DC;
        width: 75%;
        height: 120px;
        left: 12%;
    }
    .location .location-tab {
        right: 14%;
    }
    .footer-v2+.site-info .copyright {
        font-size: 7px;
        right: 26%;
    }

    .footer-img {
        width: 45%;
    }
    .columns-4 {
        right: 6%;
    }

    .index-link .second-ul li a {
        font-size: 5px !important;
    }
    .footer-tab {
        font-size: 6px !important;
    }
    .footer-title {
        font-size: 9px !important;
    }
    .body .container .form-on-image-francise {
        width: 85%;
        left: 9% !important;
        top: 64% !important;
    }
    .body .container .form-on-image-ulas {
        width: 85%;
        left: 9% !important;
        top: 35% !important;
    }
    .form-group{
        margin-bottom: 3px;
    }
    .body .container .form-on-image {
        width: 85%;
        left: 9% !important;
    }
    .text-on-image-franchise p {
        font-size: 8px !important;
    }
    .text-on-image p {
        font-size: 12px !important;
    }
    .kurumsal {
        background: url(../image/iconlar/kurumsal.jpg) no-repeat center center !important;
        background-size: cover !important;
        position: relative !important;
        width: 100% !important;
        min-height: 400px !important;
        height: 400px !important;
    }
    .insan-kaynaklari {
        background: url(../image/iconlar/insan-kaynaklari.jpg) no-repeat center center !important;
        background-size: cover !important;
        position: relative !important;
        width: 100% !important;
        min-height: 400px !important;
        height: 600px !important;
    }
    .tedarikci {
        background: url(../image/iconlar/tedarikci.jpg) no-repeat center center !important;
        background-size: cover !important;
        position: relative !important;
        width: 100% !important;
        min-height: 400px !important;
        height: 650px !important;
    }
    .paylas {
        background: url(../image/iconlar/paylas.jpg) no-repeat center center !important;
        background-size: cover !important;
        position: relative !important;
        width: 100% !important;
        min-height: 400px !important;
        height: 500px !important;
    }
    .franchise {
        background: url(../image/iconlar/franchise_mobil.jpg) no-repeat center center !important;
        background-size: cover !important;
        position: relative !important;
        width: 100% !important;
        min-height: 400px !important;
        height: 700px !important;
    }
    .bize-ulasin {
        background: #CFD8DC !important;
        width: 100% !important;
        min-height: 400px !important;
        height: 500px !important;
    }

    .big-body {
        width: 100% !important;
    }
    .location .address-info ul li span {
        font-size: 10px;
    }

    .product-content-wrapper .text-images {
        font-size: 8px;
        bottom: 36%;
    }
    select {
        font-size: 10px;
    }
    .body .container .text-on-image {
        top: 20% !important;
        left: 3%;
    }
    .body .container .logo-on-image {
        left: 24%;
    }
    .body .container .logos-on-image {
        left: 16%;
    }
    .body .container .logos-on-image ul li {
        width: 80px;
        height: 80px;
    }
    .form-control {
        font-size: 9px;
    }
    .panel-body .explanation a,
    .left-header h3 {
        font-size: 10px;
    }
    .panel-body .explanation .select2,
    .panel-body .explanation .select3 {
        position: relative !important;
        width: 100%;
        height: 25px;
    }
    .panel-body .explanation .select2 select,
    .panel-body .explanation .select3 select {
        font-size: 5px;
    }
    .panel-body .explanation .select2::after,
    .panel-body .explanation .select3::after {
        left: 65%;
    }
    .fis-btn button {
        font-size: 7px;
    }
    .s-image .button-bottom,
    .sube-sec {
        font-size: 6px;
    }
    .site-footer.footer-v2 {
        height: 70px;
    }
    .form-inline .form-group {
        width: 100%;
    }
    .hamur-tipi-radio {
        right: 19px;
        top: 10px !important;
    }
    input[type="checkbox"],
    input[type="radio"] {
        width: 10px !important;
        height: 10px !important;
    }
    .contact-address {
        font-size: 9px;
    }
    .business-hours{
        width: 65%;
        margin: 0 auto;
    }

    .footer-menu{
        width: 100% !important;
    }
    .business-hours li {
        font-size: 12px;
    }
    .standart-label {
        font-size: 6px;
    }
    .standart-label .extra-fee {
        font-size: 3px;
    }
    .product-content-wrapper h3 {
        font-size: 10px;
    }
}

@media only screen and (min-width: 420px) {
    .fee-area .old-fee {
        font-size: 10px;
    }
    .fee-area .saving-fee {
        font-size: 8PX;
    }
    .fee-area .sale-fee {
        font-size: 10px;
    }
    .fee-area .sale-fee span {
        font-size: 10px;
    }
    #bg-2 {
        height: 610px !important;
    }
    .footer-v2+.site-info .copyright {
        font-size: 7px;
        right: 35%;
    }
    .navbar-mobil .navbar-collapse ul li a {
        border-right: none !important;
    }
    .footer-second {
        left: 20%;
    }
    .new-columns-3 {
        width: 50% !important;
        line-height: 1;
    }
    .explanation label,
    .new-columns-3 label {
        font-size: 12px;
    }
    .carousel-indicators li {
        width: 40px !important;
    }
    .section-products-carousel-with-image {
        padding: 50px 0;
    }
    .newsletter-form input {
        font-size: 10px;
        right: 3%;
    }
    .newsletter-form button {
        padding: 0 14px !important;
    }
    .newsletter-subscription .caption .title {
        font-size: 10px;
    }
    .index-link .second-ul li a {
        font-size: 12px !important;
    }
    .footer-tab {
        font-size: 14px !important;
    }
    .index-link .link-area .image-list {
        display: inline-block;
    }
    .location .location-tab {
        right: 8%;
    }
    .body .container .text-on-image {
        left: 3%;
    }
    .body .container .logo-on-image {
        left: 24%;
    }
    .text-on-image-franchise p {
        font-size: 13px !important;
    }
    .text-on-image p {
        font-size: 13px !important;
    }
    .location .address-info ul li span {
        font-size: 12px;
    }
    .location .contact-map iframe {
        width: 100%;
    }
    .body .container .logos-on-image {
        left: 17%;
    }
    .body .container .logos-on-image ul li {
        width: 80px;
        height: 80px;
    }
    .panel-body .explanation a,
    .left-header h3 {
        font-size: 8px;
    }
    .panel-body .explanation .select2,
    .panel-body .explanation .select3 {
        width: 45%;
    }
    .panel-body .explanation .select2 select,
    .panel-body .explanation .select3 select {
        font-size: 7px;
    }
    .s-image .button-bottom,
    .sube-sec {
        font-size: 5px;
    }
    .footer-title {
        font-size: 11px;
    }
    .footer-img {
        width: 45%;
    }
    .site-footer.footer-v2 {
        height: 65px;
    }
    .hamur-tipi-radio {
        right: 40px;
    }
    .contact-address {
        font-size: 12px;
    }
    .standart-label {
        font-size: 8px;
    }
    .standart-label .extra-fee {
        font-size: 7px;
    }
    .hero {
        height: 25px !important;
    }
    .hero h4 {
        font-size: 10px;
    }
    .product-content-wrapper h3 {
        font-size: 10px;
    }
}

@media only screen and (min-width: 768px) {
    .fee-area .old-fee {
        font-size: 14px;
    }
    .fee-area .saving-fee {
        font-size: 10PX;
    }
    .fee-area .sale-fee {
        font-size: 13px;
    }
    .fee-area .sale-fee span {
        font-size: 16px;
    }
    .col-sm-15 {
        width: 16%;
        float: left;
    }
    .footer-second {
        left: 0;
    }
    .location .contact-map iframe {
        width: 100%;
    }
    .footer-v2+.site-info .copyright {
        font-size: 15px;
        right: 42%;
    }
    .new-columns-3 {
        width: 33% !important;
        line-height: 1;
    }
    .explanation label,
    .new-columns-3 label {
        font-size: 14px;
    }
    .index-link .link-area .image-list {
        display: block;
    }
    .newsletter-subscription .caption .title {
        font-size: 15px;
    }
    .carousel-indicators li {
        width: 50px !important;
    }
    .newsletter-form button {
        padding: 14px 6px !important;
    }
    .newsletter-form input {
        font-size: 12px;
        width: 70% !important;
        right: 3%;
    }
    .footer-tab {
        font-size: 8px !important;
    }
    .index-link .second-ul li a {
        font-size: 7px !important;
    }
    .location .location-tab {
        right: 3%;
    }
    .body .container .form-on-image-francise {
        width: 63%;
    }
    .body .container .form-on-image {
        width: 63%;
    }
    .text-on-image-franchise p {
        font-size: 15px !important;
    }
    .text-on-image p {
        font-size: 15px !important;
    }
    #bg,
    #bg-2 {
        height: 820px !important;
    }
    .location .location-image img {
        width: 100%;
    }
    .body .container .text-on-image {
        left: 28%;
    }
    .body .container .logo-on-image {
        left: 35%;
    }
    .body .container .logos-on-image {
        left: 22%;
        top: 10%;
    }
    .body .container .logos-on-image ul li {
        width: 100px;
        height: 100px;
    }
    .panel-body .explanation a,
    .left-header h3,
    .hero h4 {
        font-size: 11px;
    }
    .panel-body .explanation .select2,
    .panel-body .explanation .select3 {
        width: 55%;
    }
    .panel-body .explanation .select2 select,
    .panel-body .explanation .select3 select {
        font-size: 10px;
    }
    .s-image .button-bottom,
    .sube-sec {
        font-size: 10px;
    }
    .footer-title {
        font-size: 10px;
    }
    .footer-img {
        width: 67px;
    }
    .site-footer.footer-v2 {
        height: 60px;
    }
    .form-inline .form-group {
        width: 60%;
    }
    .hamur-tipi-radio {
        right: 32px;
    }
    .business-hours li {
        font-size: 11px;
    }
    .contact-address {
        font-size: 12px;
    }
    .standart-label {
        font-size: 6px;
    }
    .standart-label .extra-fee {
        font-size: 6px;
    }
    .hero {
        height: 35px !important;
    }
    .product-content-wrapper h3 {
        font-size: 12px;
    }
}

@media only screen and (min-width: 900px) {
    .fee-area .old-fee {
        font-size: 18px;
    }
    .fee-area .saving-fee {
        font-size: 14PX;
    }
    .fee-area .sale-fee {
        font-size: 16px;
    }
    .fee-area .sale-fee span {
        font-size: 20px;
    }
    .col-md-15 {
        width: 16%;
        float: left;
    }
    .new-columns-3 {
        width: 20% !important;
        line-height: 1;
    }
    .explanation label,
    .new-columns-3 label {
        font-size: 12px;
    }
    .carousel-indicators li {
        width: 60px !important;
    }
    .newsletter-form input {
        width: 70% !important;
        right: 3%;
    }
    .footer-tab {
        font-size: 11px !important;
    }
    .index-link .second-ul li a {
        font-size: 9px !important;
    }
    .location .location-tab {
        right: 1%;
    }
    .body .container .form-on-image-francise {
        width: 70%;
    }
    .body .container .form-on-image {
        width: 70%;
    }
    .text-on-image-franchise p {
        font-size: 18px !important;
    }
    .text-on-image p {
        font-size: 18px !important;
    }
    ul.products li.product h3,
    .hero h4 {
        font-size: 14px;
    }
    .nav-pills>li>a {
        font-size: 11px;
    }
    .body .container .logos-on-image {
        left: 22%;
        top: 0;
    }
    .body .container .logos-on-image ul li {
        width: 150px;
        height: 120px;
    }
    .panel-body .explanation a,
    .left-header h3 {
        font-size: 12px;
    }
    .panel-body .explanation .select2,
    .panel-body .explanation .select3 {
        width: 60%;
    }
    .panel-body .explanation .select2 select,
    .panel-body .explanation .select3 select {
        font-size: 15px;
    }
    .s-image .button-bottom,
    .sube-sec {
        font-size: 15px;
    }
    .body .container .title-on-image h3 {
        width: 22%;
        margin-left: -15px;
        font-size: 17px;
    }
    .column {
        right: 8%;
        font-size: 15px;
    }
    .footer-img {
        width: 86px;
    }
    .footer-title {
        font-size: 15px;
    }
    .site-footer.footer-v2 {
        height: 70px;
    }
    .hamur-tipi-radio {
        right: 38px;
    }
    #bg,
    #bg-2 {
        height: 1300px !important;
    }
    .business-hours li {
        font-size: 15px;
    }
    .contact-address {
        font-size: 14px;
        padding: 0;
    }
    .standart-label {
        font-size: 10px;
    }
    .standart-label .extra-fee {
        font-size: 9px;
    }
    .hero {
        height: 45px !important;
    }
    .product-content-wrapper h3 {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1224px) {
    .fee-area .old-fee {
        font-size: 20px;
    }
    .fee-area .saving-fee {
        font-size: 16PX;
    }
    .fee-area .sale-fee {
        font-size: 18px;
    }
    .fee-area .sale-fee span {
        font-size: 22px;
    }
    .col-lg-15 {
        width: 16%;
        float: left;
    }
    .new-columns-3 {
        width: 20% !important;
        line-height: 1;
    }
    .explanation label,
    .new-columns-3 label {
        font-size: 18px;
    }
    .carousel-indicators li {
        width: 70px !important;
    }
    .newsletter-form input {
        font-size: 14px;
        width: 100% !important;
        right: 15%;
    }
    .footer-tab {
        font-size: 17px !important;
    }
    .index-link .second-ul li a {
        font-size: 13px !important;
    }
    .location .location-tab {
        right: 0;
    }
    .text-on-image-franchise p {
        font-size: 22px !important;
    }
    .text-on-image p {
        font-size: 22px !important;
    }
    .location .address-info ul li span {
        font-size: 12px;
    }
    .nav-pills>li>a {
        font-size: 16px;
    }
    .body .container .logos-on-image {
        left: 29%;
    }
    .panel-body .explanation a,
    .left-header h3,
    .hero h4 {
        font-size: 20px;
    }
    .body .container .title-on-image h3 {
        width: 25%;
        margin-left: 0;
        font-size: 22px;
    }
    .column {
        right: 5%;
    }
    .footer-title {
        font-size: 24px;
    }
    .footer-img {
        width: 110px;
    }
    .site-footer.footer-v2 {
        height: 80px;
    }
    .hamur-tipi-radio {
        right: 55px;
    }
    .contact-address {
        font-size: 18px;
    }
    .business-hours li {
        font-size: 15px;
        padding: 0 20px;
    }
    .standart-label {
        font-size: 14px;
    }
    .standart-label .extra-fee {
        font-size: 12px;
    }
    .standart-label-pizza {
        font-size: 20px;
    }
    .product-content-wrapper h3 {
        font-size: 17px;
    }
}

@media only screen and (min-width: 1600px) {
    .carousel-indicators li {
        width: 80px !important;
    }
    .newsletter-form input {
        width: 100% !important;
        right: 15%;
    }
    .hamur-tipi-radio {
        right: 70px;
    }
}
